{{#if this.showReset}}
{{game-over-modal reset=(fn this.resetGame) title=this.result}}
{{/if}}

<div class="mdc-layout-grid mdc-top-app-bar--fixed-adjust">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell-span-6">
      <div class="mdc-layout-grid__inner tic-tac-toe-grid">

        {{#each this.board as |field index| }}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell-span-4">
          <div {{action 'tagField' this.userIcon index}} class='square-card mdc-card mdc-card--outlined'>
            {{field}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell-span-6">
      {{score-board playerList=this.playerList}}
    </div>
  </div>
</div>