<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title">Tic Tac Toe</span>
    </section>
  </div>
</header>

{{tic-tac-toe}}